body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100vw;
}

.bg-color1 {
  background-color: #FFC700;
}

.bg-color2 {
  background-color: #545454;
}

.bg-hover-color1:hover {
  background-color: #f78316;
}

#logo {
  width: 120px;
}

#navbarScrollingDropdown {
  color: white;
}

#navbarScrollingDropdown:hover {
  color: lightgray;
}

.card-height {
  min-height: 100%;
}

.list-product {
    min-width: 25%;
  }


/* =========== lg ============ */

@media (max-width: 992px) {
  h1 {
    font-size: 23px;
  }
  h2 {
    font-size: 21px;
  }
  h3 {
    font-size: 19px;
  }
  
}

/* =========== md ============ */

@media (max-width: 768px) {
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 20px;
  }
  
}

/* =========== sm ============ */

@media (max-width: 576px) {
  h1 {
    font-size: 21px;
  }
  h2 {
    font-size: 19px;
  }
  h3 {
    font-size: 18px;
  }
  
}

/* =========== xs ============ */

@media (min-width: 575px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
  
}